id: {{.AppID}}
name: {{.Name}}
description: A hello-world PagerOS app.
icon: https://example.com/{{.Name}}/icon.png
url: https://example.com/{{.Name}}/
categories: [utilities]
maintainer:
  name: Your Name
  contact: you@example.com
version: 1
